#links {
    display: flex;
    border: 1px solid black;
    background-color: black;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    width: 100vw;
}

#links > .logo {
    display: flex;
    border: 1px solid green;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    font-size: 20px;
}

#links > .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vh;
}

.nav:hover {
    background-color: aqua;
    color: red;
}

.wrapper {
    display: flex;
}

.left {
    flex: 2;
}

.left > .one {
    border: 2px solid black;
    margin: 10px;
}

.left > .two {
    border: 2px solid black;
    margin: 10px;
}

.left > .three {
    border: 2px solid black;
    margin: 10px;
    width: 164vh;
}

.right {
    flex: 1;
}

.right > .right-one {
    display: flex;
    border: 2px solid black;
    margin: 10px;
    height: 47vh;
    flex-direction: column;
    width: 34vh;
}

